.offerce{
    width: 65%;
    height: 60vh;
    display: flex;
    padding: 0 140px;
    margin: auto;
    margin-bottom: 150px;
    background: linear-gradient(180deg,#fde1ff,#e1ffea22 60%);
}
.offer-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.offer-left h1{
    color: #171717;
    font-size: 80px;
    font-weight: 600;
    text-transform: capitalize;
}
.offer-left p{
    font-size: 20px;
    font-weight: 600;
    color: #171717;
}
.offer-left button{
    width: 282px;
    height: 70px;
    background: tomato;
    border-radius: 35px;
    border: none;
    font-size: 22px;
    font-weight: 600;
    color: white;
    margin-top: 30px;
}
.offer-right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}