.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.footer-logo {
    display: flex;
    align-items: center;

}
.footer-logo p{
    color: #383838;
    font-size: 40px;
    font-weight: 700;
    line-height: 1;
}
.footer-link {
  display: flex;
  list-style: none;
  gap: 50px;
  color: #252525;
  font-size: 20px;
}
.footer-link li {
  cursor: pointer;
  text-transform: capitalize;
}
.footer-icon {
  display: flex;
  gap: 20px;
}
.social-icon {
  padding: 10;
  padding-bottom: 6px;
  background: #fbfbfb;
  border: 1px solid #ebebeb;
}

.footer-copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 100%;
  color: #1a1a1a;
  font-size: 20px;
  margin-bottom: 30px;
}
.footer-copyright hr {
  width: 80%;
  border: none;
  border-radius: 10px;
  height: 3px;
  background: #c7c7c7;
}
